.quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questions {
  width: 80%;
  background: linear-gradient(#100241, black);
  border: 2px solid white;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  font-size: 25px;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.answer {
  width: 40%;
  padding: 10px;
  align-items: center;
  border: 2px solid white;
  border-radius: 16px;
  background: linear-gradient(#351070, black);
  font-size: 20px;
  text-align: center;
  justify-content: center;
  margin: 0 20px 10px;
  font-weight: bold;
}

.answer:hover {
  background-color: greenyellow;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}

.answer.correct {
  animation: correct 3s ease forwards;
}
@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }

  20%,
  40%,
  60% {
    background: linear-gradient(#100241, black);
  }

  62%,
  100% {
    background: rgb(32, 189, 32);
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}
@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }

  20%,
  40%,
  60% {
    background: linear-gradient(#100241, black);
  }

  62%,
  100% {
    background: crimson;
  }
}
