.app {
  display: flex;
  height: 100lvh;
  background-color: #020230;
  background-size: cover;
  color: azure;
}

.main {
  width: 70%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/bg.jpg");
  display: flex;
  flex-direction: column;
}
.top {
  height: 50%;
  position: relative;
}
.timer {
  width: 70px;
  height: 70px;
  border-radius: 60%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 30px;
  position: absolute;
  bottom: 30px;
  left: 100px;
}
.bottom {
  height: 50%;
}
.pyramid {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  list-style: none;
  width: 60%;
  height: 70%;
  padding: 20px;
}
.moneyListItem.active {
  background-color: teal;
}
.moneyListItem {
  display: flex;
  align-items: center;
  padding: 3.5px;
  border-radius: 5px;
}
.moneyListItemNumber {
  font-size: 20px;
  width: 30%;
  font-weight: 100;
}

.moneyListItemAmmount {
  font-size: 20px;
  font-weight: 100;
}

.endText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
